	body{
		margin:0;
		background-image:url("../../IMAGES/background1.jpeg");
		background-repeat:No-repeat;
		background-size:100%;
	}
	.header {
		margin:0px;
		padding-top:10px;
		border-bottom: 1px solid #e2e2e2;
		height:35px;
		position: relative;
		background-color:#6E7173;
		text-align:left;
		font-size:20px;x
	}
	.login_block{
		position:absolute;
		left:50%;
		margin-top:50px;
		margin-left:-125px;
		height:260px;
		width:260px;
		background-color:#eee;
		font-size:20px;
		padding:20px;
		border-radius:5px;
		box-shadow:-10px 10px 10px #888888;
	}
	.login_form{
		position:relative;
		margin-top:3px;
		height:220px;
		width:250px;
		float:left;
		font-family: "Hiragino Sans GB", "Microsoft Yahei";
	}
	.input_username,.input_password{
		margin-top:15px;
		height:35px;
		width:200px;
		border:1px;
		padding:6px;
		border-radius:5px;
	}
	.inpue_checkcode{
		margin-top:15px;
		height:35px;
		width:80px;
		border:1px;
		padding:6px;
		border-radius:5px;		
	}
	
	.pulldown{
		height:35px;
		width:200px;
		border-radius:5px;
		padding:6px 12px;
	}
	.login_button{
		margin-top:16px;
		margin-left:44px;
		width:65px;
		height:30px;
		border-radius:16px;
		background-color:#4DD0E1;
		font-size:16px;
		font-family:"Hiragino Sans GB", "Microsoft Yahei";
		/*font-color:#ffffff;*/
	}
	.forgoten_link{
		font-size:10px;
		margin-left:50px;
	}
	
	.add { 
		position:absolute;
		right:0px;
		width: 80px; 
		height: 35px; 
		_display: inline; 
		cursor: pointer; 
		margin-top: 15px;
		margin-left:20px; 
	}
	
	.phoKey { 
		background: #012246; 
		text-align: center; 
		line-height: 44px; 
		color: #fff; 
		border-radius: 3px;
	}

    .phoKey {
    	letter-spacing: 3px; 
    	font-size:18px;
    }